*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar Modification */
::-webkit-scrollbar {
  width: 3vh;
}

::-webkit-scrollbar-track {
  width: 3vh;
  height: 40vmax;
  background-image: linear-gradient(to bottom, #184f18f3 0%, #5d5803 100%);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #057605 10%, #fefa06 90%);
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
}